# 系统文件
.DS_Store
Thumbs.db

# 日志文件
logs/*
!logs/.gitkeep

# 备份文件
backup/*
!backup/.gitkeep

# 配置文件
config/*
!config/.gitkeep

# IDE文件
.idea/
.vscode/
*.sublime-* 

# Next.js
node_modules/
.next/
/app/
dist/
build/ 